{% extends 'educenter/core/base.html' %}
{% load static %}
{% block content %} 

{% include 'educenter/core/common/title.html' %}


<!-- teacher details -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-5">
        <img class="img-fluid w-100" src="{{object.image_url.url}}" alt="teacher">
      </div>
      <div class="col-md-6 mb-5">
        <h3>{{object.name}}</h3>
        <h6 class="text-color">{{object.education}}</h6>
        <p class="mb-5">{{object.summary | slice:"0:200"}}</p>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h4 class="mb-4">CONTACT INFO:</h4>
            <ul class="list-unstyled">
              <li class="mb-3"><a class="text-color" href="mailto:johndoe@email.com"><i class="ti-email mr-2"></i>{{object.email}}</a></li>
              <li class="mb-3"><a class="text-color" href="callto:+120345876"><i class="ti-mobile mr-2"></i>{{object.phone}}</a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-facebook mr-2"></i>{{object.social_media}}</a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-twitter-alt mr-2"></i>{{object.social_media}}</a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-skype mr-2"></i>{{object.social_media}}</a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-world mr-2"></i>{{object.social_media}}.com</a></li>
              <li class="mb-3"><a class="text-color" href="#"><i class="ti-location-pin mr-2"></i>{{object.address}}</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <h4 class="mb-4">SUMMARY OF ACTIVITIES/INTERESTS</h4>
            <ul class="list-unstyled">
              {% for i in object.t_interest.all %}
              <li class="mb-3">{{i.name}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12">
        {% if plat == 'backend' %}
            <a class="btn btn-primary" href="{% url plat|add:':'|add:object.model_name|add:'-edit' object.id %}">Edit</a>
        {% endif %}<br><br>
        <h4 class="mb-4">BIOGRAPHY</h4>
        <p class="mb-5">{{object.content | slice:"0:600"}}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <h4 class="mb-4">COURSES</h4>
      </div>
      {% for c in object.t_courses.all %}
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{c.image_url.url}}" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
              <li class="list-inline-item"><a class="text-color" href="#">{{c.c_school}}</a></li>
            </ul>
            <a href="{% url plat|add:':course-single' object.id %}">
              <h4 class="card-title">{{c.name}}</h4>
            </a>
            <p class="card-text mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna.</p>
            <a href="{% url plat|add:':course-single' object.id %}" class="btn btn-primary btn-sm">Apply now</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /teacher details -->

{% endblock content %}