{% load static %}
{% block header %}
<header class="fixed-top header">
  {% include 'educenter/core/base/topheader.html' %}
  <!-- navbar -->
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark p-0">
        <a class="navbar-brand" href="{% url 'educenter:home' %}"><img src="{% static 'images/logo-edu.png' %}" alt="logo"></a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
        {% if plat == 'educenter' %}
        {% include 'educenter/core/base/nav.html' %}
        {% else %}
        {% include 'educenter/be/nav.html' %}
        {% endif %}
        </div>
      </nav>
    </div>
  </div>
</header>
{% endblock header %}