{% load static %}

<!-- related course -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Related Course</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for rec in course_reccommend %}
      <!-- course item -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{rec.image_url.url}}" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
              <li class="list-inline-item"><a class="text-color" href="#">{{rec.c_school}}</a></li>
            </ul>
            <a href="{% url 'educenter:course-single' rec.id %}">
              <h4 class="card-title">{{rec.name}}</h4>
            </a>
            <p class="card-text mb-4">{{rec.content | slice:"0:75"}}</p>
            <a href="{% url 'educenter:course-single' rec.id %}" class="btn btn-primary btn-sm">Apply now</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /related course -->