{% extends 'educenter/core/base.html' %}
{% block content %}
{% include 'educenter/core/common/title.html' %}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{object.name}}</h2>
        <p>{{object.content | slice:"0:416"}}</p>
        <p>{{object.content | slice:"416:"}}</p>
      </div>
        <a class="btn btn-primary" href="{% url plat|add:':'|add:object.model_name|add:'-edit' object.id %}">Edit</a>
    </div>
  </div>
</section>
{% comment %} {% include 'educenter/be/form.html' %} {% endcomment %}
{% endblock %}