<ul class="navbar-nav ml-auto text-center">
    <li class="nav-item active">
      <a class="nav-link" href="{% url plat|add:':home' %}">Home</a>
    </li>
    <li class="nav-item @@about">
      <a class="nav-link" href="{% url plat|add:':about' %}">About</a>
    </li>
    <li class="nav-item @@courses">
      <a class="nav-link" href="{% url plat|add:':course' %}">COURSES</a>
    </li>
    <li class="nav-item @@events">
      <a class="nav-link" href="{% url plat|add:':event' %}">EVENTS</a>
    </li>
    <li class="nav-item @@blog">
      <a class="nav-link" href="{% url plat|add:':blog' %}">BLOG</a>
    </li>
    <li class="nav-item @@blog">
      <a class="nav-link" href="{% url plat|add:':teacher' %}">TEACHERS</a>
    </li>
    <li class="nav-item dropdown view">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Pages
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'backend:interest' %}">Interests</a>
        <a class="dropdown-item" href="{% url 'backend:requirement' %}">Requirements</a>
        <a class="dropdown-item" href="{% url 'backend:school' %} ">Schools</a>
        <a class="dropdown-item" href="{% url 'backend:funfact' %}">Funfacts</a>
        <a class="dropdown-item" href="{% url 'backend:notice' %}">Notice</a>
        <a class="dropdown-item" href="{% url 'backend:research' %}">Research</a>
        <a class="dropdown-item" href="{% url 'backend:scholarship' %}">Scholarship</a>
      </div>
    </li>
    <li class="nav-item @@contact">
      <a class="nav-link" href="{% url 'educenter:home' %}">USER HOME</a>
    </li>
  </ul>